.blogSectionHeader {
   height: 45vh;
   background-image: url(../assets/blogImage1.jpg);
   background-size: cover;
   background-position: bottom left;
}

// main styles cascade to contact section
main {
   background-color: $whiteShade;
   padding-top: 60px;
}

.blogMainSection h2 {
   transform: translateY(-90px);
}

// aside, link, li styles cascade to contact section
aside {
   background-color: white;
   padding: 35px;
   margin-bottom: 25px;
   a {
      font-family: $ff-body;
      color: $primaryColorDarker;
      
      &:hover, &:active {
         color: $accentColor;
      }
   }

   li {
      text-transform: capitalize;
      &:hover a {
         color: $accentColor;
      }
   }
}

.asideTextContainer ul {
   padding-left: 30px;

   li {
      list-style-type: disc;
      padding-left: 10px;
   }
}

.asideContainer {
   width: 33%;
   margin-right: 5%;
}

.asideContainer.flexContainer {
   flex-direction: column;
}

.asidePicContainer {
   margin-bottom: 20px;
}

.asideTextContainer li:first-of-type {
   margin-top: 20px;
}

.mainBlogSection {
   width: 60%;
}

.blogPost, .commentContainer {
   background-color: white;
   padding: 35px;
}

.blogPost {
   margin-bottom: 30px;
   border-bottom: 5px solid $primaryColorDarker;
   p:last-of-type {
      margin-bottom: 40px;
   }
}

// COMMENT BOXES

.commentContainer {
   margin-bottom: 20px;
   p {
      margin: 5px 0;
   }
}

.commentContainer2 {
   border-bottom: 5px solid $primaryColorDarker;
   margin-bottom: 30px;
}

.commentPicContainer {
   padding-right: 20px;
   padding-top: 5px;
   flex: 0 0 15%;
}

.commentTextContainer {
   flex: 0 2 80%;
}

// FORM STYLES

// all form styles cascade to contact section

form {
   display: grid;
   grid-template-areas: "name email"
                        "message message"
                        "button button";
   grid-gap: 15px;
   margin-bottom: 100px;

   button {
      margin: 0;
      grid-area: button;
   }
}

textarea {
   resize: none;
   grid-area: message;
}

input, textarea {
   padding: 30px;
   border: none;
}

input[type=text] {
   grid-area: name;
}

input[type=email] {
   grid-area: email;
}

// MEDIA QUERIES

@media (max-width: 1100px) {
   .commentPicContainer {
      flex: 0 0 20%;
   }

   .commentTextContainer {
      flex: 0 2 75%;
   }
}

@media (max-width: 920px) {
   .blogSectionHeader {
      background-position: center;
   }
   
   .mainBlogContainer {
      flex-direction: column;
   }

   .asideContainer, .mainBlogSection {
      width: 100%;
      margin: 0 auto;
   }

   .asideContainer.flexContainer {
      order: 1;
      aside {
         width: 100%;
         margin: 0 auto;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         margin-bottom: 30px;

         .asideTextContainer {
            max-width: 50%;
            margin-left: 2rem;
         }
      }
   }

   .commentPicContainer {
      flex: 0 0 15%;
   }

   .commentTextContainer {
      flex: 0 2 80%;
   }

   form {
      margin-bottom: 50px;
   }
}

@media (max-width: 800px) {
   .blogSectionHeader {
      height: 30vh;
      min-height: 30vh;
   }
}

@media (max-width: 685px) {
   .wrapper {
      width: 90%;
   }

   .commentPicContainer {
      flex: 0 0 20%
   }

   .commentTextContainer {
      flex: 0 1 70%;
   }

   .asideContainer.flexContainer aside {
      padding: 2rem 0;
   }

   .asideContainer.flexContainer .asideTextContainer.recentPosts {
      text-align: center;
      width: 80%;
      max-width: 80%;
      margin: 0;
   }
}

@media (max-width: 570px) {
   .commentPicContainer {
      flex: 0 0 25%
   }

   form {
      grid-template-areas: "name" "email" "message" "button";
   }
}

@media (max-width: 450px) {
   .commentPicContainer {
      display: none;
   }

   .commentTextContainer {
      flex: 0 0 100%;
   }
}

@media (max-width: 475px) {
   .asidePicContainer {
      display: none;
   }

   .asideContainer.flexContainer aside .asideTextContainer {
      text-align: center;
      width: 80%;
      max-width: 80%;
      margin-left: 0;
   }
}