header {
   background-color: $primaryColorLighter;
   line-height: 0;
}

.hero {
   align-items: center;
   justify-content: center;
}

.headerPicContainer {
   box-shadow: 18px 22px white;
   flex: 1 0 30%;
   max-width: 36%;
   position: relative;
   top: 50px;
}

.headerText {
   margin: 0 8%;
   flex: 0 3 43%;
   max-width: 43%;
   h1 {
      position: relative;
   }
   img {
   position: absolute;
   right: -4rem;
   top: -13.5rem;
   }
}

.hideText {
   display: none;
   font-size: 1.3rem;
   text-align: center;
   text-transform: uppercase;
   color: white;
   transform: translateY(-3.7rem);
}

// MEDIA QUERIES

@media (max-width: 1235px) {
   .wrapperHeader {
      max-width: 1000px;
   }
   .headerText img {
      max-width: 11rem;
      right: 6rem;
      top: -9rem;
   }
}

@media (max-width: 1000px) {
   .wrapperHeader {
      max-width: 800px;
   }

   .headerText img {
      right: -2rem;
   }

   .headerPicContainer {
      max-width: 30%;
   }
}

@media (max-width: 850px) {
   .headerPicContainer {
      top: 20px;
   }
}

@media (max-width: 800px) {
   .headerText img {
      max-width: 7rem;
      right: -2.5rem;
      top: -5.5rem;
   }

   .hero {
      flex-direction: column-reverse;
   }

   .headerPicContainer {
      width: 40%;
      margin: 40px 0 8px 0;
   }

   .headerText {
      margin: 0;
      max-width: 50%;
   }
}

@media (max-width: 505px) {
   .headerText img {
      display: none;
   }

   .hideText {
      display: block;
   }

   .headerPicContainer {
      width: 60%;
      margin: 20px 0 8px 0;
   }
}