.infoSection {
    background-color: $whiteShade;
    padding: $padding-lg 0;
}

.infoSectionContainer {
    flex-wrap: wrap;
}

.infoCardContainer {
    width: 50%;
    margin-bottom: 30px;
}

.iconContainer {
    padding: 0 20px;
}

.iconContainer i {
    font-size: 2rem;
    background: $primaryColorLighter;
    border-radius: 50%;
    padding: 14px 10px 12px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
}

@media (max-width: 700px) {
    .infoSection {
        padding: $padding-sm 0;
    }

    .infoSectionContainer {
        justify-content: center;
    }
    
    .infoCardContainer {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .iconContainer {
        padding-left: 0;
        padding-right: 15px;
    }
}