.whoIsSection {
    background-color: $whiteShade;
    padding-top: 10px;
    padding-bottom: $padding-lg;
}

.whoIsTextContainer {
    justify-content: flex-end;
}

.whoIsText {
    width: 50%;
}

@media (max-width: 1200px) {
    .whoIsText {
        width: 52%;
    }
}

@media (max-width: 850px) {
    .whoIsTextContainer {
        justify-content: center;
    }
    
    .whoIsText {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .whoIsSection {
        padding-bottom: $padding-sm;
    }
}