.blogSection {
   display: grid;
   grid-template-columns: 1fr 40% 0.5fr 40% 1fr;
   background: white;
}

.leftPic {
   grid-column: 2 / 3;
   transform: translateY(-4rem);
   box-shadow: 2rem 2rem 0 $primaryColor, -30rem 2rem 0 $primaryColor;
}

.rightText {
   grid-column: 4 / 5;
   padding-top: 2rem;
   padding-left: 1rem;
}

.leftText {
   grid-column: 2 / 3;
   padding-top: 2rem;
   display: flex;
   flex-direction: column;
   button {
      align-self: flex-end;
   }
}

.rightPic {
   grid-column: 4 / 5;
   transform: translate(0, 2rem);
   box-shadow: 2rem 2rem 0 $primaryColorLighter, 30rem 2rem 0 $primaryColorLighter;
}

// MEDIA QUERIES

@media (max-width: 1226px) {
   .blogSection {
      grid-template-columns: 1fr 45% 0.5fr 45% 1fr;
   }

   .rightText {
      padding-left: 3rem;
   }

   .leftText {
      justify-content: start;
      padding-right: 3rem;
   }
}

@media (max-width: 1090px) {
   .blogSection {
      grid-template-columns: 1fr 60% 1fr;
      grid-gap: 4rem;
   }

   .leftPic, .rightText, .rightPic, .leftText {
      grid-column: 2 / 3;
   }

   .rightPic {
      transform: translate(0);
   }

   .leftText, .rightText {
      padding: 0;
   }

   .leftText button {
      align-self: start;
   }
}

@media (max-width: 820px) {
   .blogSection {
      grid-template-columns: 1fr 80% 1fr;
   }
}

@media (max-width: 404px) {
   .leftPic {
      box-shadow: -2rem 2rem 0 $primaryColor;
      transform: translateY(-2rem);
   }

   .rightPic {
      box-shadow: 2rem 2rem 0 $primaryColorLighter;
   }
}