.aboutSection {
    background-color: $whiteShade;
    padding: 140px 0 $padding-lg;
    h3 {
        margin-top: 10px;
    }
}

.aboutPicContainer {
    flex: 0 0 23%;
    margin-right: 8%;
}

.aboutPicContainer img {
    box-shadow: 15px 15px 0px 2px $primaryColorDarker;
}


// MEDIA QUERIES

@media (max-width: 1090px) {
    .aboutSection {
        padding: $padding-lg 0;
    }
}

@media (max-width: 1000px) {
    .aboutPicContainer {
        flex: 0 0 28%;
    }
}

@media (max-width: 850px) {
    .aboutPicContainer {
        flex: 0 0 32%;
    }
}

@media (max-width: 770px) {
    .aboutSection .flexContainer{
        flex-direction: column;
        align-items: center;
    }

    .aboutPicContainer {
        width: 35%;
        margin: 0 0 50px;
    }

    .aboutTextContainer {
        text-align: center;
    }
}

@media (max-width: 560px) {
    .aboutPicContainer {
        width: 40%;
    }
}

@media (max-width: 470px) {
    .aboutPicContainer {
        width: 55%;
    }
}