$primaryColor: #68B0C1;
$primaryColorLighter: #B9DDE7;
$primaryColorDarker: #227284;
$accentColor: #F38D8D;
$black: #171717;
$whiteShade: #F6F6F6;

$ff-heading: 'Oswald', sans-serif;
$ff-body: 'Cabin', sans-serif;
$letterspacing: 1px;

$padding-lg: 100px;