html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Cabin", sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  font-size: 13rem;
  margin: 0;
}

h2 {
  font-size: 7.8rem;
  margin: 0;
}

h3 {
  font-size: 4rem;
  margin: 30px 0;
}

h4 {
  font-size: 3rem;
  margin: 5px 0 25px;
}

h5 {
  font-size: 2.7rem;
  margin-top: 0;
}

h6 {
  font-size: 2.2rem;
  margin: 0;
}

body {
  font-size: 1.8rem;
  line-height: 32px;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: uppercase;
}

button {
  background-color: #F38D8D;
  border: 0;
  padding: 15px 35px;
  margin-top: 10px;
  -webkit-transition: border-radius 500ms, -webkit-transform 500ms;
  transition: border-radius 500ms, -webkit-transform 500ms;
  transition: transform 500ms, border-radius 500ms;
  transition: transform 500ms, border-radius 500ms, -webkit-transform 500ms;
}

button:hover, button:active {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  border-radius: 6px;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

a:hover, li:hover a {
  color: #F6F6F6;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 70px;
  z-index: 999;
  background: var(--background);
  color: white;
  padding: 15px;
  font-size: 1.8rem;
}

.skipLink:focus {
  left: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 11rem;
  }
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 10rem;
  }
}

@media (max-width: 455px) {
  h2 {
    font-size: 5.4rem;
  }
}

nav {
  width: 100%;
  background-color: #B9DDE7;
  padding: 35px 0;
}

nav h3 {
  margin: 0;
}

ul.nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.nav li {
  padding: 0 25px;
}

ul.nav li:nth-of-type(3) {
  padding: 0 40px;
}

header {
  background-color: #B9DDE7;
  line-height: 0;
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerPicContainer {
  -webkit-box-shadow: 18px 22px white;
          box-shadow: 18px 22px white;
  margin-left: 8%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 32%;
          flex: 1 0 32%;
  position: relative;
  top: 50px;
}

.headerText {
  margin: 0 8%;
  -webkit-box-flex: 0;
      -ms-flex: 0 3 50%;
          flex: 0 3 50%;
  position: relative;
}

.headerText img {
  position: absolute;
  width: 27%;
  right: 50px;
  top: -107px;
}

@media (max-width: 1200px) {
  .headerText img {
    width: 25%;
    left: 294px;
    top: -91px;
  }
}

@media (max-width: 1100px) {
  .headerText img {
    left: 266px;
    top: -84px;
  }
}

@media (max-width: 1100px) {
  .headerText img {
    display: none;
  }
}

.whoIsSection {
  background-color: #F6F6F6;
  padding-top: 100px;
  padding-bottom: 110px;
}

.whoIsTextContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.whoIsText {
  max-width: 618px;
  padding-right: 30px;
}

@media (max-width: 1200px) {
  .whoIsText {
    width: 52%;
  }
}

.pictureSection {
  height: 50vh;
  max-height: 550px;
  background-image: url(../assets/home-image-2.jpg);
  background-position: center;
  background-size: cover;
}

.infoSection {
  background-color: #F6F6F6;
  padding: 100px 0;
}

.infoSectionContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infoCardContainer {
  width: 50%;
  margin-bottom: 30px;
}

.iconContainer {
  padding: 0 20px;
}

.iconContainer i {
  font-size: 2rem;
  background: #B9DDE7;
  border-radius: 50%;
  padding: 14px 10px 12px 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 31% 4% 20px 4% 31% 1fr;
      grid-template-columns: 1fr 31% 4% 20px 4% 31% 1fr;
  -ms-grid-rows: 20px 20px 20px 40% 20px 10px 20px 40% 40px 20px;
      grid-template-rows: 20px 20px 20px 40% 20px 10px 20px 40% 40px 20px;
  background: white;
}

.leftPic {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.background1 {
  background: #68B0C1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  width: 100%;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.rightText {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
}

.leftText {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / 9;
  padding-top: 40px;
}

.rightPic {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7 / 10;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
}

.background2 {
  background-color: #B9DDE7;
  width: 100%;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 8;
  -ms-grid-row-span: 3;
  grid-row: 8 / 11;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
}

.blogPicContainer {
  position: relative;
  z-index: 5;
}

.aboutSection {
  background-color: #F6F6F6;
  padding: 120px 0 100px;
}

.aboutSection h3 {
  margin-top: 10px;
}

.aboutPicContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  margin-right: 8%;
}

.aboutPicContainer img {
  -webkit-box-shadow: 15px 15px 0px 2px #227284;
          box-shadow: 15px 15px 0px 2px #227284;
}

.gallerySection {
  padding: 100px 0;
  background: white;
}

.galleryContainer {
  margin-right: 4%;
}

.galleryContainer:last-of-type {
  margin-right: 0;
}

footer {
  background-color: #171717;
  color: #F6F6F6;
  padding: 8px 0;
}

footer p {
  text-align: center;
  margin: 0;
}

.blogHeaderPicSection {
  height: 35vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: center;
}

main {
  background-color: #F6F6F6;
  padding-top: 60px;
}

.blogMainSection h2 {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

aside {
  background-color: white;
  padding: 35px;
  margin-bottom: 25px;
}

aside a {
  font-family: "Cabin", sans-serif;
  color: #227284;
}

aside a:hover, aside a:active {
  color: #F38D8D;
}

aside li {
  text-transform: capitalize;
}

aside li:hover a {
  color: #F38D8D;
}

.asideTextContainer ul {
  padding-left: 30px;
}

.asideTextContainer ul li {
  list-style-type: disc;
  padding-left: 10px;
}

.asideContainer {
  width: 33%;
  margin-right: 5%;
}

.asideContainer.flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.asidePicContainer {
  margin-bottom: 20px;
}

.asideTextContainer li:first-of-type {
  margin-top: 20px;
}

.mainBlogSection {
  width: 60%;
}

.blogPost, .commentContainer {
  background-color: white;
  padding: 35px;
}

.blogPost {
  margin-bottom: 30px;
  border-bottom: 5px solid #227284;
}

.blogPost p:last-of-type {
  margin-bottom: 40px;
}

.commentContainer {
  margin-bottom: 20px;
}

.commentContainer p {
  margin: 5px 0;
}

.commentContainer2 {
  border-bottom: 5px solid #227284;
  margin-bottom: 30px;
}

.commentPicContainer {
  padding-right: 20px;
  padding-top: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.commentTextContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 80%;
          flex: 0 2 80%;
}

form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name email" "message message" "button button";
  grid-gap: 15px;
  margin-bottom: 100px;
}

form button {
  margin: 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
}

textarea {
  resize: none;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
}

input, textarea {
  padding: 30px;
  border: none;
}

input[type=text] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

input[type=email] {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

@media (max-width: 1100px) {
  .commentPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .commentTextContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 75%;
            flex: 0 2 75%;
  }
}

@media (max-width: 920px) {
  .mainBlogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .asideContainer, .mainBlogSection {
    width: 100%;
    margin: 0 auto;
  }
  .asideContainer.flexContainer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .asideContainer.flexContainer aside {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .commentPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
  .commentTextContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 80%;
            flex: 0 2 80%;
  }
  form {
    margin-bottom: 50px;
  }
}

@media (max-width: 685px) {
  .wrapper {
    width: 90%;
  }
  .asideContainer.flexContainer aside {
    width: 80%;
  }
  .commentPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .commentTextContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}

@media (max-width: 570px) {
  .commentPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  form {
        grid-template-areas: "name" "email" "message" "button";
  }
  .asideContainer.flexContainer aside {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .commentPicContainer {
    display: none;
  }
  .commentTextContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.contactHeaderPicSection {
  height: 35vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: center;
}

.contactMainSection h2 {
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
}

.mainContactContainer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainContactContainer a[href^="mailto"] {
  color: #171717;
  font-size: 2.1rem;
  font-family: "Oswald", sans-serif;
  display: block;
  margin-bottom: 15px;
}

.mainContactContainer aside {
  margin-right: 3%;
  width: 27%;
}

.mainContactContainer aside p {
  margin: -1px 0;
}

.mainContactContainer li {
  margin-right: 30px;
  margin-bottom: 15px;
}

.mainContactContainer li a {
  font-size: 2.5rem;
}

.mainContactContainer form {
  width: 70%;
}

@media (max-width: 1235px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .mainContactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContactContainer aside {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto 50px;
    width: 40%;
    padding: 50px;
  }
  .mainContactContainer form {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 350px) {
  .mainContactContainer aside {
    padding: 20px;
  }
}
