html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Cabin", sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  font-size: 15rem;
  margin: 0;
}

h2 {
  font-size: 7.8rem;
  margin: 0;
}

h3 {
  font-size: 4rem;
  margin: 30px 0;
}

h4 {
  font-size: 3rem;
  margin: 5px 0 8px;
}

h5 {
  font-size: 2.7rem;
  margin-top: 0;
}

h6 {
  font-size: 2.2rem;
  margin: 0;
}

body {
  font-size: 1.8rem;
  line-height: 32px;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: uppercase;
}

button {
  background-color: #F38D8D;
  border: 0;
  padding: 15px 35px;
  margin-top: 10px;
  -webkit-transition: background-color 500ms, border-radius 500ms;
  transition: background-color 500ms, border-radius 500ms;
}

button:hover, button:active {
  background-color: #227284;
  border-radius: 10px;
  color: white;
}

button:focus {
  -webkit-box-shadow: 0px 0px 0px 5px #68B0C1;
          box-shadow: 0px 0px 0px 5px #68B0C1;
}

.hamburgerMenu button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

a:hover, li:hover a {
  color: #F6F6F6;
}

a:active, a:focus, input:focus, textarea:focus, .hamburgerMenu button:hover i, .hamburgerMenu button:focus i {
  -webkit-box-shadow: 0px 0px 0px 5px #F38D8D;
          box-shadow: 0px 0px 0px 5px #F38D8D;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 70px;
  z-index: 999;
  background: var(--background);
  color: black;
  background-color: #68B0C1;
  padding: 15px;
  font-size: 1.8rem;
}

.skipLink:focus {
  left: 0;
}

.wrapper, .wrapperHeader {
  max-width: 1200px;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1235px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 1235px) {
  h1 {
    font-size: 10rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 6.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 4rem;
  }
}

nav {
  width: 100%;
  background-color: #B9DDE7;
  padding: 35px 0;
}

nav h3 {
  margin: 0;
}

ul.nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.nav li {
  padding: 0 25px;
}

ul.nav li:nth-of-type(3) {
  padding: 0 40px;
}

.hamburgerMenu {
  display: none;
}

.hamburgerMenu button {
  background: transparent;
}

.mobileNav {
  opacity: 0;
  position: fixed;
  right: -1000px;
  width: 100%;
  height: 60%;
  background-color: #227284;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobileNav li {
  margin: 2rem 0;
  color: #F6F6F6;
}

.mobileNav li:hover a, .mobileNav li:focus a {
  color: #F38D8D;
}

.open {
  opacity: 1;
  z-index: 10;
  right: 0;
  top: 0;
}

@media (max-width: 800px) {
  nav {
    display: none;
  }
  .hamburgerMenu {
    display: block;
    position: fixed;
    right: 1rem;
    z-index: 15;
    background-color: transparent;
  }
  .hamburgerMenu button {
    -webkit-transition: none;
    transition: none;
    cursor: pointer;
  }
  .hamburgerMenu i {
    color: #F6F6F6;
    background-color: #227284;
    border-radius: 50%;
    padding: 15px;
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .hamburgerMenu button {
    padding: 0;
    margin-right: 10px;
  }
}

header {
  background-color: #B9DDE7;
  line-height: 0;
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerPicContainer {
  -webkit-box-shadow: 18px 22px white;
          box-shadow: 18px 22px white;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  max-width: 36%;
  position: relative;
  top: 50px;
}

.headerText {
  margin: 0 8%;
  -webkit-box-flex: 0;
      -ms-flex: 0 3 43%;
          flex: 0 3 43%;
  max-width: 43%;
}

.headerText h1 {
  position: relative;
}

.headerText img {
  position: absolute;
  right: -4rem;
  top: -13.5rem;
}

.hideText {
  display: none;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  -webkit-transform: translateY(-3.7rem);
          transform: translateY(-3.7rem);
}

@media (max-width: 1235px) {
  .wrapperHeader {
    max-width: 1000px;
  }
  .headerText img {
    max-width: 11rem;
    right: 6rem;
    top: -9rem;
  }
}

@media (max-width: 1000px) {
  .wrapperHeader {
    max-width: 800px;
  }
  .headerText img {
    right: -2rem;
  }
  .headerPicContainer {
    max-width: 30%;
  }
}

@media (max-width: 850px) {
  .headerPicContainer {
    top: 20px;
  }
}

@media (max-width: 800px) {
  .headerText img {
    max-width: 7rem;
    right: -2.5rem;
    top: -5.5rem;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .headerPicContainer {
    width: 40%;
    margin: 40px 0 8px 0;
  }
  .headerText {
    margin: 0;
    max-width: 50%;
  }
}

@media (max-width: 505px) {
  .headerText img {
    display: none;
  }
  .hideText {
    display: block;
  }
  .headerPicContainer {
    width: 60%;
    margin: 20px 0 8px 0;
  }
}

.whoIsSection {
  background-color: #F6F6F6;
  padding-top: 10px;
  padding-bottom: 100px;
}

.whoIsTextContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.whoIsText {
  width: 50%;
}

@media (max-width: 1200px) {
  .whoIsText {
    width: 52%;
  }
}

@media (max-width: 850px) {
  .whoIsTextContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whoIsText {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .whoIsSection {
    padding-bottom: 50px;
  }
}

.pictureSection {
  height: 50vh;
  max-height: 550px;
  background-image: url(../assets/homeImage2.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 700px) {
  .pictureSection {
    max-height: 250px;
  }
}

.infoSection {
  background-color: #F6F6F6;
  padding: 100px 0;
}

.infoSectionContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infoCardContainer {
  width: 50%;
  margin-bottom: 30px;
}

.iconContainer {
  padding: 0 20px;
}

.iconContainer i {
  font-size: 2rem;
  background: #B9DDE7;
  border-radius: 50%;
  padding: 14px 10px 12px 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .infoSection {
    padding: 50px 0;
  }
  .infoSectionContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .infoCardContainer {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .iconContainer {
    padding-left: 0;
    padding-right: 15px;
  }
}

.blogSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40% 0.5fr 40% 1fr;
      grid-template-columns: 1fr 40% 0.5fr 40% 1fr;
  background: white;
}

.leftPic {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  -webkit-box-shadow: 2rem 2rem 0 #68B0C1, -30rem 2rem 0 #68B0C1;
          box-shadow: 2rem 2rem 0 #68B0C1, -30rem 2rem 0 #68B0C1;
}

.rightText {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  padding-top: 2rem;
  padding-left: 1rem;
}

.leftText {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leftText button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.rightPic {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -webkit-transform: translate(0, 2rem);
          transform: translate(0, 2rem);
  -webkit-box-shadow: 2rem 2rem 0 #B9DDE7, 30rem 2rem 0 #B9DDE7;
          box-shadow: 2rem 2rem 0 #B9DDE7, 30rem 2rem 0 #B9DDE7;
}

@media (max-width: 1226px) {
  .blogSection {
    -ms-grid-columns: 1fr 45% 0.5fr 45% 1fr;
        grid-template-columns: 1fr 45% 0.5fr 45% 1fr;
  }
  .rightText {
    padding-left: 3rem;
  }
  .leftText {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-right: 3rem;
  }
}

@media (max-width: 1090px) {
  .blogSection {
    -ms-grid-columns: 1fr 60% 1fr;
        grid-template-columns: 1fr 60% 1fr;
    grid-gap: 4rem;
  }
  .leftPic, .rightText, .rightPic, .leftText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .rightPic {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .leftText, .rightText {
    padding: 0;
  }
  .leftText button {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 820px) {
  .blogSection {
    -ms-grid-columns: 1fr 80% 1fr;
        grid-template-columns: 1fr 80% 1fr;
  }
}

@media (max-width: 404px) {
  .leftPic {
    -webkit-box-shadow: -2rem 2rem 0 #68B0C1;
            box-shadow: -2rem 2rem 0 #68B0C1;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  .rightPic {
    -webkit-box-shadow: 2rem 2rem 0 #B9DDE7;
            box-shadow: 2rem 2rem 0 #B9DDE7;
  }
}

.aboutSection {
  background-color: #F6F6F6;
  padding: 140px 0 100px;
}

.aboutSection h3 {
  margin-top: 10px;
}

.aboutPicContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  margin-right: 8%;
}

.aboutPicContainer img {
  -webkit-box-shadow: 15px 15px 0px 2px #227284;
          box-shadow: 15px 15px 0px 2px #227284;
}

@media (max-width: 1090px) {
  .aboutSection {
    padding: 100px 0;
  }
}

@media (max-width: 1000px) {
  .aboutPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
            flex: 0 0 28%;
  }
}

@media (max-width: 850px) {
  .aboutPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media (max-width: 770px) {
  .aboutSection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutPicContainer {
    width: 35%;
    margin: 0 0 50px;
  }
  .aboutTextContainer {
    text-align: center;
  }
}

@media (max-width: 560px) {
  .aboutPicContainer {
    width: 40%;
  }
}

@media (max-width: 470px) {
  .aboutPicContainer {
    width: 55%;
  }
}

.gallerySection {
  padding: 100px 0;
  background: white;
}

.galleryContainer {
  margin-right: 4%;
}

.galleryContainer:last-of-type {
  margin-right: 0;
}

@media (max-width: 700px) {
  .gallerySection {
    padding: 0;
  }
  .gallerySection .galleryContainer:last-of-type {
    display: none;
  }
  .gallerySection .wrapper {
    width: 100%;
  }
  .gallerySection .galleryContainer {
    margin: 0;
  }
}

footer {
  background-color: #171717;
  color: #F6F6F6;
  padding: 8px 0;
}

footer p {
  text-align: center;
  margin: 0;
}

.blogSectionHeader {
  height: 45vh;
  background-image: url(../assets/blogImage1.jpg);
  background-size: cover;
  background-position: bottom left;
}

main {
  background-color: #F6F6F6;
  padding-top: 60px;
}

.blogMainSection h2 {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

aside {
  background-color: white;
  padding: 35px;
  margin-bottom: 25px;
}

aside a {
  font-family: "Cabin", sans-serif;
  color: #227284;
}

aside a:hover, aside a:active {
  color: #F38D8D;
}

aside li {
  text-transform: capitalize;
}

aside li:hover a {
  color: #F38D8D;
}

.asideTextContainer ul {
  padding-left: 30px;
}

.asideTextContainer ul li {
  list-style-type: disc;
  padding-left: 10px;
}

.asideContainer {
  width: 33%;
  margin-right: 5%;
}

.asideContainer.flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.asidePicContainer {
  margin-bottom: 20px;
}

.asideTextContainer li:first-of-type {
  margin-top: 20px;
}

.mainBlogSection {
  width: 60%;
}

.blogPost, .commentContainer {
  background-color: white;
  padding: 35px;
}

.blogPost {
  margin-bottom: 30px;
  border-bottom: 5px solid #227284;
}

.blogPost p:last-of-type {
  margin-bottom: 40px;
}

.commentContainer {
  margin-bottom: 20px;
}

.commentContainer p {
  margin: 5px 0;
}

.commentContainer2 {
  border-bottom: 5px solid #227284;
  margin-bottom: 30px;
}

.commentPicContainer {
  padding-right: 20px;
  padding-top: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.commentTextContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 80%;
          flex: 0 2 80%;
}

form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name email" "message message" "button button";
  grid-gap: 15px;
  margin-bottom: 100px;
}

form button {
  margin: 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
}

textarea {
  resize: none;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
}

input, textarea {
  padding: 30px;
  border: none;
}

input[type=text] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

input[type=email] {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

@media (max-width: 1100px) {
  .commentPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .commentTextContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 75%;
            flex: 0 2 75%;
  }
}

@media (max-width: 920px) {
  .blogSectionHeader {
    background-position: center;
  }
  .mainBlogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .asideContainer, .mainBlogSection {
    width: 100%;
    margin: 0 auto;
  }
  .asideContainer.flexContainer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .asideContainer.flexContainer aside {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .commentPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
  .commentTextContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 80%;
            flex: 0 2 80%;
  }
  form {
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .blogSectionHeader {
    height: 30vh;
  }
}

@media (max-width: 685px) {
  .wrapper {
    width: 90%;
  }
  .asideContainer.flexContainer aside {
    width: 80%;
  }
  .commentPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .commentTextContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}

@media (max-width: 570px) {
  .commentPicContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  form {
        grid-template-areas: "name" "email" "message" "button";
  }
  .asideContainer.flexContainer aside {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .commentPicContainer {
    display: none;
  }
  .commentTextContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 409px) {
  .blogSectionHeader .hamburgerMenu button {
    padding: 20px;
  }
}

.contactSectionHeader {
  height: 45vh;
  background-image: url(../assets/contactImage1.jpg);
  background-size: cover;
  background-position: center;
}

.contactMainSection h2 {
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
}

.mainContactContainer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainContactContainer a[href^="mailto"] {
  color: #171717;
  font-size: 2.1rem;
  font-family: "Oswald", sans-serif;
  display: block;
  margin-bottom: 15px;
}

.mainContactContainer aside {
  margin-right: 3%;
  width: 27%;
}

.mainContactContainer aside p {
  margin: -1px 0;
}

.mainContactContainer li {
  margin-right: 30px;
  margin-bottom: 15px;
}

.mainContactContainer li a {
  font-size: 2.5rem;
}

.mainContactContainer form {
  width: 70%;
}

@media (max-width: 1000px) {
  .mainContactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContactContainer aside {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto 50px;
    width: 40%;
    padding: 50px;
  }
  .mainContactContainer form {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 850px) {
  .mainContactContainer aside {
    width: 60%;
    text-align: center;
    padding: 25px 0;
  }
  .mainContactContainer aside ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContactContainer aside ul li:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .contactSectionHeader {
    height: 30vh;
  }
}

@media (max-width: 530px) {
  .mainContactContainer aside {
    width: 100%;
  }
}
